/*header start*/
.container{
	   background-color:
       min-height: 50px;
       width: 100%;
       overflow: hidden;
       display: inline-block;
}
.logo{
	width:30%
	margin-left: 100px;
	margin-top:
	
}
.menu{
	width: 75%;

}

/*header end*/